#displays {
    width: 50%;
    float: left;
    text-align: center;
}

#buttonhere {
    width: 50%;
    float: left;
}

#container {
    width: 80%;
    margin: 0 auto;
    color: aquamarine;
}

body {
    background-image: url(./dark-paths.png);
}

img {
    width: 50%;
}